* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: blue-steel;
  font-family: Arial;
  overflow: hidden;
}


.strategy .blind {
  fill: rgba(247, 249, 249, 1); 
}

.strategy .bedtime {
  fill: rgba(247, 249, 249, 1);
}

.strategy .standard {
  fill : rgba(120, 213, 215, 1);
}

.movement .lounge {

}

.movement .entry {

}
