
.strategy.blind {
  fill: rgba(247, 249, 249, 1); 
}

.strategy.bedtime {
  fill: rgba(247, 249, 249, 1);
}

.strategy.standard {
  fill : rgba(120, 213, 215, 1);
}

.movement.Lounge ::after {
  content: "<i class = 'fas fa-couch'></i>";
}

.movement.Entry {
  content: "<i class = 'fas fa-open-door'></i>";
}

.y.axis {
  stroke:none;
}
