html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.abcRioButtonBlue {
  margin: 0 auto;
}

.strategy.blind {
  fill: rgba(247, 249, 249, 1); 
}

.strategy.bedtime {
  fill: rgba(190, 216, 212, 1);
}

.strategy.standard {
  fill : rgba(120, 213, 215, 1);
}

.movement.Lounge {
    fill : rgba(99, 210, 255, 0.2);
}

.movement.Entry {
    fill : rgba(32, 129, 195, 0.2);
}


.y.axis {
  stroke:none;
}

.y.axis > .domain {
  stroke:none;
}
